.App {
    --header_height: 60px;
    display: flex;
    
}

.hw {

}

.hwTitle {
    color:  rgba(0, 0, 0, 1);
    font-weight: 600;
    font-size: 22px;
    padding-left: 70px;
    padding-top: 130px;




}